@font-face {
    font-display: swap; 
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/karla-v24-latin-regular.woff2") format("woff2"), 
    url("./fonts/karla-v24-latin-regular.woff") format("woff"); 
}
@font-face {
    font-display: swap; 
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/karla-v24-latin-700.woff2") format("woff2"),
    url("./fonts/karla-v24-latin-700.woff") format("woff"); 
}
@font-face {
    font-display: swap; 
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/dm-serif-display-v12-latin-regular.woff2") format("woff2"),
    url("./fonts/dm-serif-display-v12-latin-regular.woff") format("woff"); 
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Karla", "Arial",sans-serif;
    font-style: normal;
}
.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header {
    position: relative;
    z-index: 2;
    background-color: #fff;    
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 19px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navigation {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    margin: 0;
    margin-right: 33px;
    padding: 0;
    list-style: none;
}
.nav-list-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;
}
.nav-list-link:hover {
    color: #2c2830;
}
.site-main {
    padding-bottom: 150px;
}
.view-plans {
    display: inline-block;
    width: 146px;
    text-align: center;
    padding: 13px;
    color: #2c2830;
    background-color: #fff;
    border: 1.5px solid #2c2830;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
}
.view-plans:hover {
    color: #2c2830;
    background-color: #fff;
}
.nav-link:hover {
    color: #fff;
    background-color: #2c2830;
    border: 1.5px solid #2c2830;
}
.hero {
    padding-top: 105px;
    padding-bottom: 146px;
    background-color: #2d2641;
    /* background-image: url("./images/backgrounfd-line1.svg");  */
    background-position: 1005px -138px;
    background-repeat: no-repeat;
}
.line-background {
    position: absolute;  
    z-index: 1;
    top: -234px;
    right: -424px;
}
.hero-inner {
    position: relative;
    display: flex;
    background-repeat:no-repeat;
    background-size:1004px 670px ;
}   
.hero-div {
    width: 540px;
    margin-right: 30px;
}
.background-img {
    position: relative;
    display: flex;
    top: 15px;
}
.family-img {
    position: absolute;
    left:570px;
    /* padding-bottom: 146px; */
}
.section-line {
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 63px;
}

.site-title {
    margin: 0;
    margin-bottom: 16px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;    
    letter-spacing: -1px;
    color: #fff;
}
.hero-description {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
.hero-link {
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
}
.second-section {
    padding-top: 305px;
    padding-bottom: 158px;
}
.for-background {
    position: relative;
}
.backgroung-line2 {
    position:absolute;
    top: -467px;
    left: -670px;
}
.second-line {
    margin-bottom: 63px;
    background-color: #000;
}
.second-section-title {
    margin: 0;
    margin-bottom: 96px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;   
    letter-spacing: -1px;
    color: #2c2830;
    
}
.card-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin:0;
    padding-left: 0;
}
.card-item {
    width: 350px;
}
.card-item::before {
    display: inline-block;
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    background-image: url("./images/lightning.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24.2px 32px;
    border-radius: 50%;
    background-color: #96a9c6;
    content:"";
}
.card-item:nth-child(2)::before {
    background-image: url("./images/dollar.svg");
    background-size: 32px;
}
.card-item:last-child::before {
    background-image: url("./images/user.svg");
}
.card-titile {
    margin: 0;
    margin-bottom: 16px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.388889px;
    color: #2c2830;
    
    
}
.card-desc {
    margin: 0;  
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #837d88;
}
.article-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    padding-top: 96px;  
    padding-right: 80px;
    padding-bottom: 69px;
    padding-left: 80px;
    background-image: url("./images/article-background.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.article-title {
    margin: 0;
    font-family: "DM Serif Display", "Arial",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    color: #fff;
}
.article-inner {
    width: 475px;
}
.site-footer {
    overflow: hidden;
    background-color: #fafafa;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 33px;
    border-bottom: 1px solid #dadada;
    
}
.for-footer-background {
    position: relative;
}
.footer-background {
    position: absolute;
    top: -419px;
    left: -159px;
}
.application-list {
    display: flex;  
    column-gap: 16px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.application:hover {
    background-color: #2c2830;
}
.footer-bottom {
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer-list {
    display: flex;
    column-gap: 182px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list-link {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.item-links {
    margin-bottom: 16px;   
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #2d2641; 
}
.item-links:first-child {
    margin-bottom: 36px;
}
.link {
    text-decoration: none;
    color: #000 ;
}
.first-link {
    text-decoration: none;
    color: #837d88;
}   
.link:hover {
    text-decoration:underline;
}
